
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form method="post">

    <label title="Name">Name</label>
    <input name="Name" />
    <br />
    <label>Description:</label>
    <input name="Description" />
    <br />
    <label>price:</label>
    <input name="price" />
    <br />
    <button type="submit">Save</button>

</form>