
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form method="post">

    <label title="Name">Name</label>
    <input name="Name" />
    <br />
    <label>Description:</label>
    <input name="Description" />
    <br />
    <label>price:</label>
    <input name="price" />
    <br />
    <button type="submit" id="SveBtn">Save</button>

</form>

<script type="text/javascript">
    $("#SveBtn").click(function () {
        
        data = $("form").serialize();

        $.ajax({
            type: "POST",
            url: "/Product/Create",
            data: data
            
        })
      .done(function (response) {
          $("#TabeContainer").html(response);  // This DisplayBlock is available in Index view
      })
      .fail(function (data) {
          alert("Fail");
      })
    });
</script>