
@{
    ViewBag.Title = "Index";
}
<div id="TabeContainer">

    @{
        Html.RenderAction("ProductTable");
        //Html.RenderAction("Create");

    }

</div>

<div id="ActionContainer">

</div>

