@model List<ClothBazar.Entities.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <form method="post">
        <input name="Search" id="SearchTxt" />
        <button type="button" id="SearchBtn">Search</button>
    </form>
    <button id="NewBtn">New</button>
<div>
    <table>
        <tr>
            <th>
            <td>Name</td>
            <td>Cateory</td>
            <td>Price</td>
            <td>Actions</td>
            </th>
        </tr>
        @foreach (var Product in Model)
        {
            <tr>
                <td>@Product.Name</td>
                <td></td>
                <td>@Product.price</td>
                <td><button>Edit</button></td>
                <td><button>Delete</button></td>
            </tr>

        }

    </table>

</div>


<script type="text/javascript">
    $("#SearchBtn").click(function () {
        var searchText = $("#SearchTxt").val();
     
        $.ajax({
            type: "GET",
            url: "/Product/Create",
            data: {
                search: searchText
            }
        })
      .done(function (response) {
          $("#TabeContainer").html(response);  // This DisplayBlock is available in Index view
      })
      .fail(function (data) {
          alert("Fail");
      })
    });


    $("#NewBtn").click(function () {

                $.ajax({
                    //type: "GET",
                    // This will interact with Create method of the ProductController of type GetType
                    url: "/Product/Create",
        })
            .done(function (response) {
                $("#ActionContainer").html(response); // This ActionBlock is available in Index view

        })
        .fail(function () {
            alert("Creating Form got Failed");
        })


    })
</script>